:root {
    --clr-primary-black: hsl(0, 0%, 0%);
	--clr-primary-white: hsl(0, 0%, 100%);
    --clr-primary-teal: hsl(165, 48%, 62%);
    --clr-primary-darkblue: hsl(225, 43%, 33%);
    --clr-primary-lightblue: hsl(204, 88%, 56%);

    --clr-secondary-pink: hsl(345, 48%, 62%);
    --clr-secondary-orange: hsl(22, 78%, 59%);
    --clr-secondary-green: hsl(135, 48%, 62%);
    --clr-secondary-brown: hsl(45, 43%, 33%);

}

/* Utility Classes */

.text-primary-black {
    color: var(--clr-primary-black);
}
.text-primary-white {
    color: var(--clr-primary-white);
}
.text-primary-teal {
    color: var(--clr-primary-teal);
}
.text-primary-darkblue {
    color: var(--clr-primary-darkblue);
}
.text-primary-lightblue {
    color: var(--clr-primary-lightblue);
}
.bg-primary-black {
    background-color: var(--clr-primary-black);
}
.bg-primary-white {
    background-color: var(--clr-primary-white);
}
.bg-primary-teal {
    background-color: var(--clr-primary-teal);
}
.bg-primary-darkblue {
    background-color: var(--clr-primary-darkblue);
}
.bg-primary-lightblue {
    background-color: var(--clr-primary-lightblue);
}