@use '../util' as *;

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    color: var(--clr-primary-black);
    //letter-spacing: .005em;   //VACI's setting
}

h1, h2, h3, h4 {
    font-family: var(--ff-primary);
    font-weight: 700;
    line-height: 1.1;
    color: var(--clr-primary-black);
    //margin-top: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    
}

h1 {
    //Responsive font sizing, default 28px at min, grow by 16px+2vw and never go over 40px
    font-size: clamp(rem(40), rem(16) + 2vw, rem(44));

    //media queries below not needed since we used clamp style to do responsive font sizing
    // @include util.breakpoint(medium) {
    //     font-size: 36px;
    // }

    // @include util.breakpoint(large) {
    //     font-size: 42px;
    // }
}

h2 {
    //Responsive font sizing, default 22px at min, grow by 14px+2vw and never go over 36px
    font-size: clamp(rem(22), rem(14) + 2vw, rem(36));
}

p {
    margin-top: 0;
    font-size: var(--fs-body);
    line-height: 1.3;
    color: var(--clr-primary-black);
}

a, a:visited, a:active {
    text-decoration: none;
}