.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.fadedw {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.fadedw.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.fadeRL {
    opacity: 0;
    transform: translate(10vw, 0);
    transition: all 1s;
}

.fadeRL.visible {
    opacity: 1;
    transform: translate(0, 0);
}