@use '../util' as *;

.carousel {
  
  position: relative;
  background-color: var(--clr-primary-white);
  text-align: center;

  @include breakpoint(medium) {
    height: auto;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: var(--clr-primary-black);
  }

  h1:after {
    background-color: var(--clr-primary-teal);
    //border-bottom: solid 3px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    margin: rem(15) auto 0;
    max-width: 100%;
    width: rem(120);
  }

  // .carousel__item {
  //   height: rem(300);
  //   //background: pink;
  //   width: 100%;
  // }

  // .carousel__track {
  //   position: relative;
  //   padding: 0;
  //   margin: 0;
  //   list-style: none;;
  // }

  // .carousel__slide {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  // }

  // .carousel__nav {
  //   display: flex;
  //   justify-content: center;
  // }

  // .carousel__indicator {
  //   border: 0;
  //   border-radius: 50%;
  //   width: rem(20);
  //   height: rem(20);
  //   background: rgba(0,0,0, .3);
  //   margin: 0 rem(12);
  // }

  .slider {
    width: 300px;
    text-align: center;
    overflow: hidden;

    @include breakpoint(medium) {
      width: 800px;
    }
  }

  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    //-webkit-overflow-scrolling: touch;
  }

  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .slides::-webkit-scrollbar-thumb {
    background: var(--clr-primary-teal);
    border-radius: 10px;
  }

  .slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(100);

    @include breakpoint(medium) {
      width: 800px;
      height: 600px;
    }
  }

  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: grey;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }

  .slider>a:active {
    top: 1px;
  }

  .slider>a:focus {
    background: #000;
  }
}