@use '../util' as *;

.faq {
    position: relative;
    background-image: url(/tmda-imgs/Gradient\ Background.jpg);
    text-align: center;

    @include breakpoint(medium) {
        height: auto;
    }

    .container {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: var(--clr-primary-white);
    }

    h1:after {
        background-color: var(--clr-primary-teal);
        //border-bottom: solid 3px;
        content: "";
        display: block;
        height: 2px;
        position: relative;
        margin: rem(15) auto 0;
        max-width: 100%;
        width: rem(120);
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 80%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
      }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        //display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    // option {
    //     font-size: rem(18);     //works only for dropdown once clicked.  
    // }

    // .select {
    //     width: 100%;
    //     height: auto;
    //     //width: 500px;

    //     &.slct {
    //         margin: rem(8) rem(8);
    //         //width: 300px;

    //         @include breakpoint(medium) {
    //             //width: 1000px;
    //         }
    //     }
    // }
}