@use '../util' as *;

.hero {
    position: relative;
    //background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('/tmda-imgs/Website\ Hero\ -\ TMDA\ copy.jpg');
    //background-size: cover;
    //background-repeat: no-repeat;
    text-align: left;
    //clip-path:polygon(0% 0%,100% 0,100% calc(100% - 12vw),0% 100%);

    @include breakpoint(medium) {
        height: 60vh;
        //clip-path: none;
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        height: 60vh;
        margin-inline: auto;
        padding: 2rem 0;
        overflow: hidden;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .back-video {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 75%;
    }

    .container {
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-top: rem(80);

        // @include breakpoint(medium) {
        //     flex-direction: row;
        // }
    }

    &__text {
        position: relative;
        z-index: 1;

        h1 {
            //text-shadow: 0px 0px 20px rgb(100, 100, 100);
            margin: 1.5rem 0;
            font-family: var(--ff-secondary);
            font-size: 60px;
            //border-radius: rem(20) rem(20); //Two values: first applies top-left/bottom-right corners, second applies to top-right/bottom-left corners
            //background: var(--clr-primary-darkblue);
            //background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
            display: inline;
            //padding: 0 10px;
            color: var(--clr-primary-darkblue);
            //letter-spacing: .1rem;
        }

        h2 {
            font-style: italic;
            margin: 0;
            line-height: 2rem;
            max-width: 600px;
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        6%, 10% {
        opacity: 1;
        }

        16% {
            opacity: 0;
        }
    }


    //keep below since it works with Underline Img
    .underline {
        position: relative;
        height: auto;
        width: auto;
        margin-inline: auto;
        margin-top: -12px;

        // @include breakpoint(small) {
        //     position: relative;
        //     height: auto;
        //     width: auto;
        //     margin-inline: auto;
        //     margin-top: -12px;
        // }
    }

    .words {
        display: inline-block;
        color: var(--clr-primary-black);
        //text-shadow: 2px 2px 1px #000;
        position: absolute;
        font-size: 2.188rem;
        text-transform: uppercase;

        // @include breakpoint(small) {
        //     display: inline-block;
        //     position: absolute;
        // }
    }

    .words span {
        position: absolute;
        //top: 0;
        left: 5px;
        opacity: 0;
        overflow: hidden;
        animation: fade 12s linear infinite;
    }

    // .words span::before {
    //     content: "";
    //     position: absolute;
    //     bottom: 3px;
    //     width: 100%;
    //     height: 7px;
    // }

    .words span:nth-child(1) {
        //animation-delay: 0s;
        animation: fade 12s infinite;
    }
    .words span:nth-child(2) {
        //animation-delay: 2s;
        animation: fade 12s 2s infinite;
    }
    .words span:nth-child(3) {
        //animation-delay: 4s;
        animation: fade 12s 4s infinite;
    }
    .words span:nth-child(4) {
        //animation-delay: 6s;
        animation: fade 12s 6s infinite;
    }
    .words span:nth-child(5) {
        //animation-delay: 8s;
        animation: fade 12s 8s infinite;
    }
    .words span:nth-child(6) {
        //animation-delay: 10s;
        animation: fade 12s 10s infinite;
    }

    //below code for attempt to slant hero section (TODO)
    // &::before {
    //     content: '';
    //     bottom: 0;
    //     width: 100%;
    //     height: calc(18vw);
    //     transform: skewY(-7deg) translateY((calc(2rem + 3vw)));
    //     border-bottom: rem(16) solid --clr-primary-teal;

    //     // @include breakpoint(large) {
    //     //     transform: skewY(-7deg) translateY((calc(2rem + 5vw)));
    //     // }
    // }

    // &::after {
    //     height: 60vh;
    //     content: '';
    //     position: absolute;
    //     z-index: 1;
    //     top: 0;
    //     left: 0;
    //     background: rgba(0,0,0,0.5);
    // }
}