@use '../util' as *;

.primary-nav {

    &__toggle {
        display: flex;
        flex-direction: column;
        gap: rem(6);
        padding: rem(3) rem(5);

        @include breakpoint(large) {
            display: none;
        }

        span {
            display: block;
            width: rem(24);
            height: rem(3);
            background: var(--clr-primary-white);
            transform-origin: rem(1) rem(1);
            @include tr(all);
    
            // .nav-open & {

            //     &:nth-child(1) {
            //         transform: rotate(45deg) translate(rem(6), rem(6));
            //     }
    
            //     &:nth-child(2) {
            //         opacity: 0;
            //     }
    
            //     &:nth-child(3) {
            //         transform: rotate(-45deg) translate(rem(7), rem(-6));
            //     }
            // }
        }
    }

    &__links {

        @include breakpoint-down(medium) {
            display: none;        //not sure if needed
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            top: rem(50);
            bottom: 0;
            margin-top: rem(40);
            text-align: center;
        }

        @include breakpoint-down(large) {
            position: relative;
            top: auto;
        }

        header.nav-open & {
            display: block;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            //margin-left: rem(16);
            //display: inline-block;    //currently does nothing for list items under dropdown list

            &.last-child {
                @include breakpoint(large) {
                    margin-left: rem(18);
                }
                //margin-left: rem(16);     //switch from inside above @include if not working
            }

            .button {
                color: var(--clr-primary-white);

                @include breakpoint-down(medium) {
                text-transform: none;
                font-size: rem(18);
                margin-bottom: rem(18);
                }
                
                // @include breakpoint(large) {
                //     color: var()
                // }
            }

            .dropbtn {
                color: var(--clr-primary-white);
                text-transform: none;
                font-size: rem(18);
                margin-bottom: rem(18);

                @include breakpoint(large) {
                    color: var(--clr-primary-white);
                    text-transform: uppercase;
                }
            }
        }
    }
}