@use '../util' as *;

.secTransitions {
    position: relative;

    // @include breakpoint(medium) {
    //     //margin-top: auto;
    // }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        display: block;
        max-width: 100%;
        min-width: rem(600);
        height: auto;
        //max-height: 50%;
    }
}