@use '../util' as *;

.twoCol {
    position: relative;
    background-image: var(--clr-primary-white);
    text-align: center;

    @include breakpoint(medium) {
        height: auto;
        text-align: left;
    }

    .container {
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &__imgleft {
        position: relative;
    }

    &__item {
        align-items: center;
        justify-content: space-between;

        img {
            width: 100%;
            height: auto;
            border-radius: rem(70) rem(10); //Two values: first applies top-left/bottom-right corners, second applies to 
        }
    }

    h3 {
        margin-bottom: 5px;
    }

    h1:after {
        background-color: var(--clr-primary-teal);
        //border-bottom: solid 3px;
        content: "";
        display: block;
        height: 2px;
        position: relative;
        margin: rem(15) auto 0;
        max-width: 100%;
        width: rem(120);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;

        @include breakpoint(medium) {

            justify-content: space-between;
            gap: rem(40);

            .twoCol__item {
                flex: 1;
                text-align: left;
            }

            .button {
                align-items: left;
            }
        }
    }

    // .fade {
    //     opacity: 0;
    //     transform: translate(0, 10vh);
    //     transition: all 1s;
    // }

    // .fade.visible {
    //     opacity: 1;
    //     transform: translate(0, 0);
    // }

    .centered-div {
        justify-content: center;
        align-items: center;
    }
}